*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: clamp(1vw,2vw,5vw);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
code, .code, pre{
    text-transform: lowercase;
}
.fs-normal{
    text-transform: initial;
}
.container{
    background-color: #eee;
    color: #333;
    min-height: 100vh;
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.container header {
    display: flex;
    flex: 1;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    max-height: 100%;
}
header > div {
    place-items: center;
}
header .mini-cover {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}
header .webmap {
    background: #333;
    color: #eee;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
}
.webmap h2 {
    background: #eee;
    color: #333;
    width: auto;
    padding: .5vw 1vw;
    border-radius: .5vw;
    margin: 0 auto;
}
.webmap .box {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 50vh;
    width: max-content;
    overflow-x: hidden;
    overflow-y: auto;
}
.webmap li {
    list-style-type: none;
    width: 100%;
    padding: .2vw 0 .2vw .5vw ;
}
.webmap li pre {
    font-family: Consolas,"courier new";
    font-size: 1vw;
}
.container header h1 {
    background: transparent !important;
    text-align: center;
    color: #333;
}
.name, .container header h1 {
    font-size: 3vw;
}
.name, .container header a {
    text-decoration: 0;
}
.container header h2,.container header h2 a {
    font-size: 1.4vw;
    font-weight: lighter;
    font-family: Consolas,"courier new";
    letter-spacing: .1vw;
    text-align: center;
    margin: .5vw 2vw;
}
.container header h2 a {
    margin: 0;
}
.name{
    text-transform: inherit;
    color: rgb(20, 120, 150);
}
.container main{
    display: grid;
    padding: 1vw 0;
    grid-template-columns: minmax(1fr,auto);
    grid-template-rows: auto;
    height: 100vh;
    max-height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}
main .section {
    box-shadow: 0 0 .5vw #333;
    width: max-content;
    min-width: 50vw;
    margin: .5vw;
    padding: .5vw;
}
main .section ul {
    list-style-type: none;
}
/* main .section li,main .section li .code {
    padding: .25vw;
    margin: .25vw .75vw;
} */
.container main .code {
    color: #eee;
    background: #333;
    color: #eee;
    font-family: Consolas,"courier new";
}
.container main .section ul li{
    text-transform: capitalize;
}
.container main .section ul li ,.container main .section ul li  .code,pre, pre code,.fs-normal{
    font-size: 1vw;
    
    margin: .1vw;
}
pre code{
    background: rgb(104, 104, 104);
    color: #eee;
    width: max-content;
    padding: 0 .1vw;
    margin: 0 .5vw;
}
@media only screen and (max-width: 700px){
    .container{
        flex-direction: column;
    }
    *{
        font-size: clamp(3vw,5vw,8vw);
    }
    .container main .section ul li ,.container main .section ul li  .code,pre, pre code{
        font-size: 2.5vw;
    }
    .name, .container header h1 {
        font-size: 5vw;
    }
    .container header h2,.container header h2 a {
        font-size: 3.4vw;
    }
    .webmap li pre {
        font-family: Consolas,"courier new";
        font-size: 2vw;
    }
}