.userpage-wrap{
    display: flex;
    justify-content: space-evenly;
    place-items: center;
}
.create-section{
    display: flex;
    flex-direction: column;
}
.create-section div {
    margin: 1vw;
}
.list{
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list ul {
    list-style-type: none;
}